:root {
    --dark-blue: hsl(214, 93%, 42%);
    --light-blue: hsl(214, 93%, 78%);
    --blue: hsl(214, 93%, 62%);
    --light-gray: #f2f2f2;
    --gray: #808080;
    --xrcf-title: #333;
    --black: #000000;
    --radius: 5px;
    --flame: #fa7a02;
    --ui-font-size: 12px;
    --medium-font-size: 14px;
    --text-font-size: 16px;
    --text: #000000;
    --background: hsl(220, 60%, 98%);
    --code-background: hsl(0, 0%, 94%);
    --button-background: hsl(0, 0%, 92%);
    --code-border: #dbdbdb;
    --border: hsl(0, 0%, 60%);
    --blue-gradient: linear-gradient(to right, var(--dark-blue), var(--blue));
    --accent: hsl(212, 91%, 60%);
    --header: hsl(212, 90%, 18%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue-gradient: linear-gradient(to right, var(--black), var(--dark-blue));
        --background: hsl(0, 0%, 10%);
        --border: hsl(0, 0%, 40%);
        --code-background: hsl(0, 0%, 18%);
        --button-background: hsl(0, 0%, 20%);
        --code-border: #0e0e0e;
        --text: hsl(0, 0%, 100%);
        --xrcf-title: #d1cdcd;
        --header: hsl(0, 0%, 100%);
        --accent: hsl(212, 91%, 65%);
    }
}

@media (min-width: 640px) {
    :root {
        --ui-font-size: 13px;
        --medium-font-size: 16px;
        --text-font-size: 18px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 150%;
    text-rendering: optimizeLegibility;
    background-color: var(--background);
    color: var(--text);
    font-size: var(--text-font-size);
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header);
}

a {
    color: var(--accent);
}

a:visited {
    color: hsl(270, 60%, 60%);
}

code {
    background-color: var(--code-background);
    border-radius: var(--radius);
    padding: 0.15rem;
}

pre code {
    font-size: var(--ui-font-size);
    background-color: var(--code-background);
    border-radius: var(--radius);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    line-height: 110%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 98vh;
}

.middle {
    width: 100%;
    max-width: 640px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post {
    border-radius: var(--radius);
    padding: 10px;
    margin: 8px 0px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--gray);
}

.post-content {
    font-size: var(--text-font-size);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bottom {
    text-align: center;
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 0.8rem;
    font-size: 0.8rem;
}

.unstyled-link {
    text-decoration: none;
    color: var(--text);
}

.unstyled-link:visited {
    color: var(--text);
}

.right {
    margin-left: auto;
}

.menu-space {
    margin-left: 10px;
    margin-right: 10px;
}

input {
    background-color: var(--button-background);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: var(--ui-font-size);
}

input[type="submit"] {
    border: 1px solid var(--border);
    padding: 7px 20px;
    line-height: 1.3;
    margin: 12px 6px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.ui-text {
    font-size: var(--ui-font-size);
}

.medium-text {
    font-size: var(--medium-font-size);
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: var(--button-background);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    color: var(--text);
    padding: 7px 20px;
    line-height: 1.3;
    margin: 12px 6px;
    font-size: var(--ui-font-size);
}

textarea {
    border: 1px solid var(--border);
    border-radius: var(--radius);
    background-color: var(--button-background);
    color: var(--text);
    padding: 7px;
    /* Too small size will cause browser to zoom on mobile. */
    /* Being bigger on big screens is also not too bad. */
    font-size: 17px;
}

a.button {
    font-size: var(--ui-font-size);
    background-color: var(--button-background);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    text-decoration: none;
    color: var(--text);
    padding: 7px 20px;
    line-height: 1.3;
    margin: 12px 6px;
}

.boxsizing-border {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
