:root {
    --dark-blue: hsl(214, 93%, 42%);
    --light-blue: hsl(214, 93%, 78%);
    --blue: hsl(214, 93%, 62%);
    --light-gray: #f2f2f2;
    --gray: #808080;
    --xrcf-title: #333;
    --black: #000000;
    --flame: #fa7a02;
    --medium: 18px;
    --text: #000000;
    --background: hsl(230, 60%, 98%);
    --code-background: hsl(230, 60%, 98%);
    --code-border: #dbdbdb;
    --border: #eaeaea;
    --blue-gradient: linear-gradient(to right, var(--dark-blue), var(--blue));
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue-gradient: linear-gradient(to right, var(--blue), var(--light-blue));
        --background: hsl(0, 0%, 20%);
        --border: #4e4e4e;
        --code-background: hsl(0, 0%, 5%);
        --code-border: #0e0e0e;
        --text: #ddd;
        --xrcf-title: #d1cdcd;
    }
}

body {
    font-family: sans-serif;
    line-height: 150%;
    background-color: var(--background);
    color: var(--text);
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 98vh;
}

.middle {
    width: 100%;
    max-width: 640px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.created_at {
    font-size: 12px;
    color: var(--gray);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bottom {
    text-align: center;
    margin-top: auto;
}

.unstyled-link {
    text-decoration: none;
    color: inherit;
}
