[package]
name = "fx"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../README.md"
publish = false

[dependencies]
axum = { version = "0.8", features = ["form", "macros"] }
axum-extra = { version = "0.10", features = ["cookie"] }
chrono = { version = "0.4.40", features = ["serde"] }
clap = { version = "4.5", features = ["derive", "env"] }
fx-auth = { path = "../fx-auth" }
http-body-util = "0.1.3"
hyper = "1.6.0"
markdown = "0.3"
indoc = "2"
rusqlite = { version = "0.34.0", features = ["blob", "bundled", "chrono"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.140"
serde_urlencoded = "0.6"
tokio = { version = "1.44", features = ["rt-multi-thread", "macros"] }
tower = "0.5"
tracing = "0.1"
tracing-subscriber = "0.3"

[dev-dependencies]
pretty_assertions = "1"
