name: ci
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-test-${{ hashFiles('**/Cargo.toml') }}
      - run: rustup update stable
      - run: rustup default stable
      - run: cargo test
  
  deploy:
    needs: test
    runs-on: ubuntu-24.04-arm
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-deploy-${{ hashFiles('**/Cargo.toml') }}
      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: |
            rikhuijzer/fx
            ghcr.io/${{ github.repository }}
      - run: rustup update stable
      - run: rustup default stable
      - run: cargo install --debug jas@0.3.0
      - run: >
          jas install
          --gh casey/just@1.40.0
          --sha d065d0df1a1f99529869fba8a5b3e0a25c1795b9007099b00dfabe29c7c1f7b6
          --gh-token ${{ secrets.GITHUB_TOKEN }}
      - run: sudo timedatectl set-timezone Europe/Amsterdam
      - run: date +'%Y-%m-%d %H:%M' > fx/src/version.txt
      - run: just release
      - name: Build and push Docker image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: './public'
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
